<hr>

<footer>
    <div class="col-xs-12">
        <div class="col-xs -12 col-sm-2">
            <p>Powered by <a>Pyblog</a></p>
			<p>Saved by <a>七牛云</a></p>
            <p><a href="{{ url_for('admin.index') }}">管理页面</a></p>
        </div>
        <div class="col-xs -12 col-sm-5">
            <p><img

				src="http://oyvgzaycw.bkt.clouddn.com/2-160131040608-50.png"></p>
        </div>
        <div class="col-xs -12 col-sm-2">
			<a href="http://flask.pocoo.org/" target="_black"><img

				src="http://flask.pocoo.org/static/badges/flask-powered.png"

				border="0"

				alt="Flask powered"

				title="Flask powered"></a>
		</div>
        <div class="col-xs -12 col-sm-3">
			<p><a href="mailto:zjj19950716@gmail.com"><i class="glyphicon glyphicon-envelope"></i> zjj19950716@gmail.com </a></p>
			<p><a><i class="glyphicon glyphicon-check"></i> QQ：774379121 </a></p>
			<p><a><i class="glyphicon glyphicon-envelope"></i> WeChat: 774379121 </a></p>
        </div>
    </div>
</footer>
